body{
    border: solid transparent;
    padding: 0;
    margin: 0;
    background-color: black;

}
header{
    margin-top: 0%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    border-bottom: 1px solid white;
    width: 100%;
    height: 5%;
}
nav{
    display: flex;
    padding-right: 2%;
    column-gap: 10px;
    margin-right: 10px;
}
.meuportfolio{
    color: white;
}
a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
a:hover{
    color: orangered;
    transition: 0.5s;
}
.sobremim{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    padding: 2%;
   width: 60%;
   height: 30%;
}
.biografia{
    color: white;
}
.apresentacao{
    color: white;
}
img{
    display: flex;
    margin-left: 40%;
    margin-top: 5%;
    border-radius: 10%;
    width: 35%;
    height: 30%;
    
}
main{
    display: flex;
    margin-top: 5%;
    align-items: center;
}
