body{
    border: solid transparent;
    padding: 0;
    margin: 0;
    background-color: black;

}
header{
    margin-top: 0%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    border-bottom: 1px solid white;
    width: 100%;
    height: 5%;
}
nav{
    display: flex;
    padding-right: 2%;
    column-gap: 10px;
    margin-right: 10px;
}
.meuportfolio{
    color: white;
}
a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
a:hover{
    color: orangered;
    transition: 0.5s;
}
.sobremim{
    display: flex;
    margin-top: 2%;
    align-items: center;
    padding: 2%;
    height: 30%;
}
.biografia{
    display: flex;
    color: white;
}
.apresentacao{
    display: flex;
    color: white;
}
img{
    display: flex;
    margin-left: 40%;
    margin-top: 5%;
    border-radius: 10%;
    width: 50%;
    height: 80%;
    
}
main{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    align-items: center;
    height: 100%;
}
.projetos{
    display: flex;
    color: white;
    background-color: #171717;
    margin-top: 0%;
    width: 100%;
  
}
.nomeprojeto{
    padding-left: 2%;
}
.projeto1{
    display: flex;
    flex-direction: column;
    border: solid white;
    border-radius: 8px;
    width: 25%;
    height: 25%;
    margin-top: 5%;
}
.projeto2{
    display: flex;
    flex-direction: column;
    border: solid white;
    border-radius: 8px;
    width: 25%;
    height: 25%;
    margin-top: 15%;
}
.projeto3{
    display: flex;
    flex-direction: column;
    border: solid white;
    border-radius: 8px;
    width: 25%;
    height: 25%;
    margin-top: 5%;
}
.especificacoes1{
    display: flex;
    justify-content: space-evenly;
}
.especificacoes2{
    display: flex;
    justify-content: space-evenly;
}
.especificacoes3{
    display: flex;
    justify-content: space-evenly;
}